
DefectRecognitionSystem/obj
.vs
Bins/Debug/DefectRecognitionSystem.ilk
Bins/Debug/DefectRecognitionSystem.pdb
Bins/Debug/LibDefectRecognition.exp
Bins/Debug/LibDefectRecognition.pdb
Bins/Debug/LibDefectRecognition.ilk
Bins/Debug/LibImgIO.exp
Bins/Debug/LibImgIO.ilk
Bins/Debug/LibImgIO.pdb
Bins/Debug/LibImgProc.exp
Bins/Debug/LibImgProc.ilk
Bins/Debug/LibImgProc.pdb
Bins/Debug/Test.pdb
Bins/Release/LibDefectRecognition.exp
Bins/Release/LibDefectRecognition.iobj
Bins/Release/LibDefectRecognition.ipdb
Bins/Release/LibImgIO.exp
Bins/Release/LibImgIO.iobj
Bins/Release/LibImgIO.ipdb
Bins/Release/LibImgProc.exp
Bins/Release/LibImgProc.iobj
Bins/Release/LibImgProc.ipdb
build-DefectRecognitionSystem-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug
build-DefectRecognitionSystem-Desktop_Qt_5_12_1_MSVC2017_32bit-Release
DefectRecognitionSystem/Win32
LibDefectRecognition/Release
LibDefectRecognition/Debug
LibImgIO/Debug
LibImgIO/Release
LibImgProc/Debug
LibImgProc/Release
DefectRecognitionSystem/release/qrc_imgs.cpp
DefectRecognitionSystem/release/qrc_qss.cpp
DefectRecognitionSystem/shortFreq.txt
DefectRecognitionSystem/ucFreq.txt
Test/Debug/Test.log
Test/Debug/Test.Build.CppClean.log
Test/Release/Test.Build.CppClean.log
Test/Release/Test.log
DefectRecognitionSystem/debug/qrc_imgs.cpp
DefectRecognitionSystem/debug/qrc_qss.cpp
