
build-DefectRecognitionSystem-Desktop_Qt_5_12_1_MSVC2017_32bit-Release
DefectRecognitionSystem/DefectRecognitionSystem.pro.user
DefectRecognitionSystem/obj
DefectRecognitionSystem/Win32
LibImgProc/LibImgProc.vcxproj.user
LibImgIO/LibImgIO.vcxproj.user
DefectRecognitionSystem/debug
.vs
DefectRecognitionSystem/release
DefectRecognitionSystem/.qmake.stash
LibDefectRecognition/Release
LibImgIO/Release
LibImgProc/Release
Bins/Release/LibDefectRecognition.exp
Bins/Release/LibDefectRecognition.iobj
Bins/Release/LibDefectRecognition.ipdb
Bins/Release/LibImgIO.exp
Bins/Release/LibImgIO.iobj
Bins/Release/LibImgIO.ipdb
Bins/Release/LibImgProc.exp
Bins/Release/LibImgProc.iobj
Bins/Release/LibImgProc.ipdb
LibImgIO/Debug
Bins/Debug/DefectRecognitionSystem.ilk
Bins/Debug/LibImgIO.ilk
Bins/Debug/LibImgIO.exp
Bins/Debug/LibImgIO.pdb
Bins/Debug/DefectRecognitionSystem.pdb
LibImgProc/Debug
Bins/Debug/LibImgProc.exp
Bins/Debug/LibImgProc.ilk
Bins/Debug/LibImgProc.pdb
DefectRecognitionSystem/shortFreq.txt
DefectRecognitionSystem/ucFreq.txt
